@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: #fafafa; /* Gris ultra claro, casi blanco, muy limpio */
  color: #000000;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased; /* Suaviza las fuentes para un look más premium */
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  /* Eliminamos el max-width: 500px para que ocupe toda la pantalla */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Ocultar scrollbar pero permitir arrastre (para las pestañas) */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}